// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.marco {
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 15px;
  padding: 10px;
}